@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";

*{
  font-family: "Press Start 2P", system-ui;
  scroll-behavior: smooth;
}


@theme{
  --color-grey:#28424F;
  --color-dark-orange:#E8770E;
  --color-orange:#FCA32B;
  --color-yellow:#FFEC37;
}

@media (max-width:640.98px) {
  .add-icon svg,.sub-icon svg{
    width: 7px !important;
    height: 7px;
  }
}

.rfm-marquee{
  min-width: fit-content !important;
}

.rfm-marquee-container{
  gap: 26px ;
}